* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

/*NAVIGATION*/
header {
    width: 100%;
    background: #ff5722;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color:white;
    font-size: 32px;
    font-weight: bold;
}

.logo span {
    color: black;
}

nav ul {
    display: flex ;
    list-style: none;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 10px;
}

nav ul li a.active,
nav ul li a:hover {
    background: black;
    border-radius: 5px;
}

/*HERO SECTION*/
.hero {
    height: 90vh;
    background: url('../FOOD_Web/beef.jpg')center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;    
}

.hero-text h1 {
    color: black;
    font-size: 45px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #444;
}

.btn {
    display: inline-block;
    background: #ff5722;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

/*MENU SECTION*/
.menu {
    padding: 50px 20px;
    text-align: center;
}

.menu h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: #fff;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #ff5722;
    font-size: 18px;
    margin-bottom: 10px;
}

/*CONTACT*/
.contact {
    padding: 50px 20px;
    text-align: center;
}

.contact h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    nav ul li a {
        font-size: 16px;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .menu h1 {
        font-size: 32px;
    }

    .card{
        width:45%;
    }
}

@media (max-width:600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li{
        margin: 10px;
    }

    .hero-text h1 {
        font-size: 28px;
        line-height: 1.3;
    }
    
    .hero-text p {
        font-size: 15px;
    }

    .btn {
        font-size: 16px;
        padding: 8px 15px;
    }

    .card {
        width: 90%;
    }

    .menu, .contact {
        padding: 30px 10px;
    }

    .menu h1 {
        font-size: 28px;
    }
}