body {
    background: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.light {
    background: white;
    color: black;
}

header {
    padding: 20px;
    text-align: center;
    position: relative;
}

#toggleMode {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer ;
}

.section-title {
    text-align: center;
    margin-top: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    width: 90%;
    margin: auto;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.light .card {
    background: #f0f0f0;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

.search-area{
    text-align: center;
    margin: 20px 0;
}

.search-area input {
    padding: 10px;
    
}
 .converter {
    text-align: center;
    margin: 20px;
 }

 .converter input, .converter select {
    padding: 8px;
    margin: 5px;
 }

 #chart {
    width:90%;
    margin: 20px auto;
 }